.center {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #000000;
    /*font-family: 'Brush Script MT', serif;*/
    font-size: 50px;
    font-weight: bold;
}
body {
    background-image: url("https://git.kpi.fei.tuke.sk/ivan.bandola/openlab-assets/-/raw/master/screens/background.png");
    background-size: inherit;
    width: 100%;
    height: 100%;
    margin: 0;
}

.menu {
    margin: 10% auto;
    width: 800px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0);
    display: grid;
    grid-template-columns: 400px 400px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.game {
    background-color: rgba(51, 51, 51, 0.384);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: sans-serif;
}
.popis {
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
}

.slidecontainer {
    width: 50%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    margin-left: 25%;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 50%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.color {
    width: 400px;
    height: 400px;
    background-color: #7a7a7a;
    border-radius: 200px;
}
.animals {
    width: 1025px;
    height: 650px;
}
/*.l1{*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: #4CAF50;*/
/*}*/
