.openlab {
    position: fixed;
    bottom: 40px;
    left: 40%;
}
.lights {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    /* margin-top: 100px; */
}
.lights2 {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    margin-top: 20px;
}
.lights3 {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    margin-top: 20px;
}

.l4{
    width: 10px;
    height: 100px;
    background-color: #000000;
    margin-right: 700px;
}
.l5, .l6, .l7, .l8, .l9, .l10, .l11, .l12{
    width: 10px;
    height: 100px;
    background-color: #000000;
    margin-right: 30px;
}
.l30{
    width: 10px;
    height: 100px;
    background-color: #000000;
    margin-right: 80px;
}
.l31, .l32, .l33, .l34, .l35, .l36, .l37, .l38, .l39{
    width: 10px;
    height: 100px;
    background-color: #000000;
    margin-right: 30px;
}
.l58{
    width: 10px;
    height: 100px;
    background-color: #000000;
    margin-right: 700px;
}
.l59, .l60, .l61, .l62, .l63, .l64, .l65, .l66{
    width: 10px;
    height: 100px;
    background-color: #000000;
    margin-right: 30px;
}

.screen3x3 {
    width: 100px;
    height: 100px;
    background-color: black;
    margin-right: 500px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.screens {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    margin-top: 30px;
    margin-right: 600px;
}

.s1, .s2, .s3, .s4, .s5 {
    width: 50px;
    height: 50px;
    background-color: black;
    margin-right: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#drag0, #drag1, #drag2, #drag3, #drag4, #drag5, #drag6, #drag7, #drag8, #drag9{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #00c3ff;
    left: 500px;
    top: 700px;
    z-index: 5;
}